html{margin-top: 0!important}
body {
	font-family: @muller;
	font-size: 18px;
	line-height: 30px;
	color: @b-color;
	background: @b-bg;
	@media @media-size-xs{
		padding-top: 58px;
		font-size: 16px;
		line-height: 24px;
	}
	@media @media-size-sm{
		padding-top: 90px;
		font-size: 16px;
		line-height: 24px;
	}
	@media @media-size-lg{
		font-size: 16px;
		line-height: 24px;
	}
	@media @media-size-xl2{
		font-size: 16px;
		line-height: 28px;
	}
}
*:focus{outline: 0!important;}
a{
	color: @b-orange;
	&:focus{
		color: @b-orange;
		text-decoration: none;
	}
	&:hover{
		color: darken(@b-orange, 20%);
	}
	&[href^="mailto:"],
	&[href^="tel:"]{
		text-decoration: none;
		&:hover{
			text-decoration: none;
		}
	}
}
i, em{font-family: @muller-ital}
b, strong{font-family: @muller-bold}
h1,h2,h3,h4,h5,h6{
	font-family: @muller-bold;
	margin: 0;
}
h1{
	font-size: 48px;
	line-height: 60px;
	@media @media-size-xs {
		font-size: 38px;
		line-height: 40px;		
	}
	@media @media-size-sm{
		font-size: 38px;
		line-height: 50px;
	}
	@media @media-size-lg{
		font-size: 42px;
		line-height: 54px;
	}
}
h2{
	font-size: 44px;
	line-height: 56px;
	@media @media-size-xs {
		font-size: 34px;
		line-height: 36px;		
	}
	@media @media-size-sm{
		font-size: 34px;
		line-height: 36px;
	}
	@media @media-size-lg{
		font-size: 38px;
		line-height: 40px;
	}
}
h3{
	font-size: 30px;
	line-height: 42px;
	@media @media-size-xs {
		font-size: 24px;
		line-height: 36px;		
	}
	@media @media-size-sm{
		font-size: 24px;
		line-height: 36px;
	}
	@media @media-size-lg{
		font-size: 26px;
		line-height: 38px;
	}
}
h4{
	font-size: 24px;
	line-height: 30px;
	@media @media-size-xs {
		font-size: 20px;
		line-height: 24px;		
	}
	@media @media-size-sm {
		font-size: 20px;
		line-height: 24px;		
	}
	@media @media-size-lg {
		font-size: 20px;
		line-height: 24px;		
	}
	@media @media-size-xl2 {
		font-size: 20px;
		line-height: 26px;		
	}
}
h5{
	font-size: 18px;
	line-height: 30px;
	@media @media-size-xs{
		font-size: 16px;
		line-height: 28px;
	}
	@media @media-size-sm{
		font-size: 18px;
		line-height: 30px;
	}
	@media @media-size-lg{
		font-size: 16px;
		line-height: 28px;
	}
}
h6{
	font-size: 16px;
	line-height: 24px;
	@media @media-size-xs{
		font-size: 14px;
		line-height: 22px;
	}
	@media @media-size-sm{
		font-size: 16px;
		line-height: 24px;
	}
	@media @media-size-lg{
		font-size: 14px;
		line-height: 22px;
	}
}
ul{
	margin-left: 20px;
	&.ul-site{
		list-style: none;
		margin-left: 0;
		li{
			position: relative;
			padding-left: 25px;
			margin-bottom: 10px;
			&:before{
				content: '';
				position: absolute;
				top: 10px;
				left: 3px;
				border-radius: 50%;
				background-color: @b-orange;
				width: 6px;
				height: 6px;
				display: block;
			}
		}
	}
}
ol{
	margin-left: 20px;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid @b-orange;
    font-family: @muller-ital;
}
._czr__text-page{
	max-width: 960px;
	margin: 0 auto;
}
.text-block{
	div, p, ol ,li{
		margin-bottom: 15px;
	}
	ol, ul{
		li{margin-bottom: 8px}
	}
	h2 + div,
	h2 + p,
	h2 + ul,
	h2 + ol,
	h2 + table,
	h2 + blockquote,
	h3 + div,
	h3 + p,
	h3 + ul,
	h3 + ol,
	h3 + table,
	h3 + blockquote,
	h4 + div,
	h4 + p,
	h4 + ul,
	h4 + ol,
	h4 + table,
	h4 + blockquote{
		margin-top: 5px;
	}
	div + h2,
	p + h2,
	ul + h2,
	ol + h2,
	blockquote + h2,
	table + h2,
	div + h3,
	p + h3,
	ul + h3,
	ol + h3,
	blockquote + h3,
	table + h3,
	div + h4,
	p + h4,
	ul + h4,
	ol + h4,
	blockquote + h4,
	table + h4{
		margin-top: 20px;
	}
}
._cb__flex{
	display: flex;
	&._col{
		margin-right: @grid_margin;
		margin-left:  @grid_margin;
		._cb__col{
			padding-right: @grid_padding;
			padding-left:  @grid_padding;
		}
	}
	@media @media-device {
		flex-wrap: wrap;
	}
}
._cb__list{
	list-style: none;
	margin-left: 0;
	li{
		display: flex;    
		align-items: center;
		&:before{
			content: '';
			float: left;
			vertical-align: middle;
			width: 30px;
			height: 2px;
			background: @b-orange;
			margin-right: 20px;
			@media @media-size-xs{
				margin-right: 10px;
				max-width: 20px;
				width: 100%;
			}
		}
		&:last-child{margin-bottom: 0}
	}
}
.content-block{
	background: @b-bg;
	padding: 35px 0;
	@media @media-size-xs{padding: 15px 0;}
	@media @media-size-sm{padding: 20px 0;}
}
._czr__container-fluid{
	width: 100%;
	padding: 0 50px;
	@media @media-size-xs{padding: 0 20px;}
	@media @media-size-sm{padding: 0 30px;}
	@media @media-size-lg{padding: 0 40px;}
}
.heading-block-site{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	@media @media-size-xs{
		margin-bottom: 30px;
		.btn-line{display: none;}
	}
	@media @media-size-xs{margin-bottom: 10px;}
	@media @media-size-sm{margin-bottom: 30px;}
	//@media @media-size-lg{margin-bottom: 10px;}
}
.heading-site{
	margin-left: -2px;
	font-family: @muller-bold;
	margin-right: 20px;
	margin-bottom: 10px;
	font-size: 48px;
	line-height: 60px;
	@media @media-size-xs{font-size: 21px; line-height: 29px; margin: 0 0 0 -2px;}
	@media @media-size-sm{font-size: 30px; line-height: 38px; margin-bottom: 5px;}
	@media @media-size-lg{font-size: 30px; line-height: 38px;}
	@media @media-size-xl2{font-size: 38px; line-height: 50px;}
}
._czr__breadcrumb{
	list-style: none;
	font-size: 14px;
	line-height: 32px;
    margin-bottom: 15px;
	color: @b-bred;
	margin-left: 0;
	li{
		display: inline-block;
		& + li{
			&:before{
				font-family: @icon;
				content: @icon-next;
				display: inline-block;
				margin: 0 10px 0 5px;
				vertical-align: middle;
				font-size: 12px;
			}
		}
	}
	a{
		color: @b-bred;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
			color: @b-orange;
		}
	}
	@media @media-size-xs{
		margin-bottom: 10px;
		line-height: 23px;
	}
	@media @media-size-lg{line-height: 30px;}
}
._cb__search-form{
	.form-control{
		height: 53px;
		border-color:  #dadada;
		transition: @transition-site;
		box-shadow: none;
		border-radius: 0;
		border-right: 0; 
		padding: 5px 23px;
		color: @b-color;
		font-size: 18px;
		line-height: 30px;
		&::-webkit-input-placeholder {
			font-size: 16px;
			line-height: 24px;
		}
		&:-moz-placeholder {
			font-size: 16px;
			line-height: 24px;
		}
		@media @media-size-lg{
			height: 45px;
			&::-webkit-input-placeholder {
				font-size: 14px;
				line-height: 22px;
			}
			&:-moz-placeholder {
				font-size: 14px;
				line-height: 22px;
			}
		}
		&:focus{
			box-shadow: none;
			border-color: @b-orange;
			border-right: 0; 
			&::-webkit-input-placeholder {color: @b-orange;}
			&:-moz-placeholder {color: @b-orange;}
		}
	}
	.btn-search{
		background: none;
		padding: 0;
		border: 0;
		outline: none;    
		&:focus,
		&:active{
			outline: none;
		} 
		&:before{
			font-family: @icon;
			display: block;
			background: @white;
			border: 1px solid;
			border-left: 0;
			border-color:  #dadada;
			padding: 0 15px;
    		line-height: 51px;
    		color: #7f7f7f;
			transition: @transition-site;
			@media @media-size-lg{
    			line-height: 43px;
			}
		}
		&[type="submit"]:before{
			content: @icon-search;
    		font-size: 19px;
		}
		&[type="reset"]:before{
			content: @icon-close;
    		font-size: 14px;
		}
		&:hover{
			&:before{color: @b-orange;}
		}
	}
	.form-control:focus + .input-group-btn .btn-search:before{
		color: @b-orange;
		border-color:  @b-orange;
		border-left: 0; 
	}
}
._cb__catalog-sort-item{
	font-size: 14px;
	padding-top: 20px;
	a{
		color: @b-color;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
		&.active{
			text-decoration: none;
			color: @b-orange;
		}
	}
	@media @media-device{display: none}
	@media @media-size-lg{padding-top: 10px;}
}
._cb__catalog-filter{
	//display: flex;
	//align-items: center;
	font-size: 14px;
	max-width: 260px;
	width: 100%;
	.form-control{
		font-family: @muller;
		font-size: 14px;
		background: none;
		border: 1px solid  #cdcdcd;
		box-shadow: none;
	    border-radius: 0;
    	padding: 8px 0 8px 5px;
    	height: 100%;
    	position: relative;    
    	display: inline-block;
    	max-width: 160px;
    	float: right;
    	//margin-top: 4px;
    	margin-left: 5px;
	}
	span{
		vertical-align: middle;
		display: inline-block;
		line-height: 37px;
	}
	@media @media-size-xs {		
		max-width: 240px;
		margin-top: 8px;
		.form-control{
	    	max-width: 140px;
		}
	}/*
	@media @media-size-sm {		
		.form-control{
	    	margin-top: 2px;
		}
	}
	@media @media-size-lg {		
		.form-control{
	    	margin-top: 2px;
		}
	}*/
}
/*
._czr__loader{
	position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    display: none;
    background: rgb(12, 12, 12);
    &.active{
    	display: block;
    	z-index: 10000;
    }
}
._czr__preloader-inner{
	height: 100%;
}
._czr__preloader-center{	
	height: 100%;
	display: flex;	
    justify-content: center;
    align-items: center;
    padding: 50px;
}
._czr__preloader-process-container {
	display:block;
	position:relative;
	width: 100%;
	height: 6px;
	background: transparent;	
}
._czr__preloader-process-level{
	position:absolute;
	left:0;
	top:0;
	display:block;
	width: 0%;
	height:100%;
	margin:0 auto;
	z-index:0;
	background: @white;
	transition: all 0.3s ease;
}*/